body, html {
    margin: 0;
    padding: 0;

    animation: lockScroll 5s linear;
}

.fadeOverlay270deg {
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

#mainImageContainer {
    background-image: url("../resources/IMG_2735.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; /*Ser till att den stannar i mitten*/
    background-size: auto 100%; /*Gör så att hela skärmen täcks av bilden*/
}

#fadeOverlay {
    animation: animationFadeOverlay 5s linear;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

#mainContainer h1 {
    color: white;
    font-size: 6vw;
    text-align: center;
    height: min-content;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
#mainContainer h2 {
    color: white;
    font-size: 3vw;
    text-align: center;
    height: min-content;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

#mainContainer h3 {
    color: #a6acb8;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#whyDroneText {
    padding: 10px;
    text-align: justify;
    color: #a6acb8;
    font-family: 'Montserrat', sans-serif;
}

@keyframes animationFadeOverlay {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes lockScroll {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}

@media only screen and (min-aspect-ratio: 960/720) {
    #mainImageContainer {
        background-size: 100% auto; /*Gör så att bakgrundsbilden alltid täcker hela skärmen
        Byter vilken axel (x, y) som prioriteras att göras så stor som möjligt så att inga svarta kanter kommer runt bilden*/
    }
}