body, html {
    margin: 0;
    padding: 0;

    /*animation: lockScroll 5s linear;*/
}

.fadeOverlay270deg {
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.backgroundImage960W720H {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; /*Ser till att den stannar i mitten*/
    background-size: auto 100%; /*Gör så att hela skärmen täcks av bilden*/
    z-index: 2;
}

.invisible {
    opacity: 0 !important;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: min-content;
    margin: 0;
    z-index: 3;
}

p, article {
    font-family: 'Montserrat', sans-serif;
    color: #a6acb8;
    text-align: justify;
}

.lockScroll {
    animation: lockScroll 4s linear;
}

/*
    Main:
*/

#mainImageContainer {
    background-image: url("../resources/IMG_2735.JPG");
}

#fadeOverlay {
    animation: animationFadeOverlay 5s linear;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

#mainContainer h1 {
    color: white;
    font-size: 6vw;
    height: min-content;
    margin: auto;
}

#mainContainer h2 {
    color: white;
    font-size: 3vw;
    height: min-content;
    margin: auto;
}

#whyDroneText {
    padding: 10px 50px;
    text-align: justify;
}

#whyDroneIMG {
    width: 90%;
    margin: auto;
}

@keyframes animationFadeOverlay {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes lockScroll {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}

@media only screen and (min-aspect-ratio: 960/720) {
    .backgroundImage960W720H {
        background-size: 100% auto; /*Gör så att bakgrundsbilden alltid täcker hela skärmen
        Byter vilken axel (x, y) som prioriteras att göras så stor som möjligt så att inga svarta kanter kommer runt bilden*/
    }
}

/*
    Utrustning:
*/
#utrustningImageContainer {
    background-image: url("../resources/IMG_2695.JPG");
}

#utrustningContainer h1 {
    color: white;
    font-size: 6vw;
    height: min-content;
    margin: auto;
}

#p1 {
    font-size: 1vw;
    padding-left: 20px;
}

#utrustningContainer h2 {
    font-size: 4vw;
    margin: 0;
}

#utrustningContainer img {
    width: 80%;
    margin: auto;
}

#utrustningContainer h3 {
    font-size: 3vw;
    margin: 20px auto;
}

#utrustningContainer p, #utrustningContainer article {
    margin: 0;
    text-align: justify;
}


/* Flyg Drönare Själv */

#flyselfContainer img {
    object-fit: cover;
    height: 100%;
    width: 95%;
    margin: auto;
}

#flyselfContainer h1 {
    color: white;
    font-size: 6vw;
    height: min-content;
    margin: auto;
}

#flyselfImageContainer {
    background-image: url("../resources/IMG_2693.JPG");
}

#firstFlightText, #oneYearText, #nowText {
    text-align: center;
    font-size: 1.5vw;
}

#flySelfSimpleText {
    margin: 0;
    text-align: justify;
    padding-top: 20px;
}



/* Projekt */

#projectTitleMain h1 {
    color: white;
    font-size: 6vw;
    height: min-content;
    margin: auto;
    animation: goDown 5s ease-in-out;
    padding-top: 10px;
}

#projectContainer h2 {
    font-size: 2.5vw;
}

#projectTitleMain {
    overflow: hidden;
    height: 100%;
    z-index: 4;
}

#firstProjectText {
    padding-bottom: 8vh;
}

#projectImageWithCap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}

.imageSegment {
    position: absolute;
    left: 10%;

    height: 80vh;
    display: flex;
    width: min-content;
    margin: auto;

    flex-direction: column;
    transition: opacity 1s ease-in-out;
}

.imageSegment img {
    height: 90%;
    width: 80vw;
    object-fit: cover;
    margin: auto;
}

.imageSegment p {
    text-align: center;
    height: min-content;
    margin: auto;
}

#projectImageWithCap button {
    height: 6vw;
    width: 6vw;
    border: none;
    color: #a6acb8;
    background-color: #F3F3F3;
    font-size: 3vw;
    margin: auto 10px;
}

#projectImageWithCap button:hover {
    color: #4285f4;
    border: #a6acb8 2px solid;
}

@keyframes goDown {
    0% {
        transform: translateY(-150%);
    }
    50% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0%);
    }
}