/* Index */

#mainContainer { /* Definierar grid på första sidan */
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35vh 15vh 10vh 40vh 5vh auto 5vh 10vh auto 5vh auto auto 10vh;
}

#mainImageContainer {
    width: 100vw; /* Ser till att den täcker hela skärmen */
    height: 100vh;

    grid-column: 1/-1;
    grid-row: 1/5;
}

#fadeOverlay {
    width: 100vw;
    height: 50vh; /* Dimman täcker bara hälften av bakgrundsbildens höjd */

    grid-column: 1/-1;
    grid-row: 3/5;
}

#mainContainer h1 {
    grid-column: 2/-2;
    grid-row: 2/3;
}
#mainContainer h2 {
    grid-column: 2/-2;
    grid-row: 3/4;
}

#mainContainer h3 {
    grid-column: 1/4;
    grid-row: 8/9;
    z-index: 3;
}

#whyDroneText {
    grid-column: 1/4;
    grid-row: 9/10;
    z-index: 3;
}

#whyDroneIMG {
    grid-column: 3/-1;
    grid-row: 8/10;
}

#whyDroneOverlay { /* Sätter position på dimman på andra bilden */
    grid-column: 3/-2;
    grid-row: 8/10;
    margin-left: 7%;
}

#mainContainer a {
    grid-column: 1/-1;
    grid-row: -2/-3; /* Sätter läs mer länken näst längst ned */
    padding: 5vh;
}

@media only screen and (max-width: 600px) {
    #mainContainer {
        grid-template-rows: 35vh auto auto 40vh 5vh auto 5vh 10vh auto 5vh auto 15vh auto 10vh;
    }
    #mainContainer h1 {
        grid-column: 1/-1;
        grid-row: 2/3;
        font-size: 9vw;
    }
    #mainContainer h2 {
        grid-column: 1/-1;
        grid-row: 3/4;
        font-size: 5vw;
        margin: 0;
    }
    #whyDroneIMG {
        grid-column: 1/-1;
        grid-row: 11/12;
    }
    #whyDroneOverlay {
        display: none;
    }
    #whyDroneText {
        grid-column: 1/-1;
        font-size: 20px;
        text-align: left;
    }
    #mainContainer a {
        font-size: 20px;
    }
}

/*
    Utrustning:
*/

#utrustningContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 35vh 15vh 10vh 40vh 5vh 5vh auto auto auto auto 20vh auto auto auto auto 10vh;
}

#utrustningContainer h1 {
    grid-column: 2/-2;
    grid-row: 2/3;
}

#utrustningImageContainer {
    width: 100vw;
    height: 100vh;

    grid-column: 1/-1;
    grid-row: 1/5;
}

#p1 {
    grid-row: 6/7;
    grid-column: 1/-1;
}

#drone {
    grid-row: 7/8;
    grid-column: 1/-1;
}

#droneIMG {
    grid-column: 1/-1;
    grid-row: 8/9;
}

#droneTitle {
    grid-row: 9/10;
    grid-column: 1/-1;
}

#droneText {
    grid-row: 10/11;
    grid-column: 2/-2;
}

#others { /* Titlen om andra saker som är bra att ha */
    grid-column: 1/-1;
    grid-row: 12/13;
}

#othersIMG { /* Bilden om andra saker som är bra att ha */
    grid-column: 1/-1;
    grid-row: 13/14;
}

#othersTitle { /* Andra titlen om andra saker som är bra att ha */
    grid-column: 1/-1;
    grid-row: 14/15;
}

#othersText { /* Texten om andra saker som är bra att ha */
    grid-column: 2/-2;
    grid-row: 15/16;
}

@media only screen and (max-width: 600px) {
    #utrustningContainer p {
        grid-column: 1/-1;
        padding: 0 15px;
        text-align: left; /* Ta bort den professionella texten när skärmen är för liten, det ser konstigt ut med för liten skärm */
    }
    #utrustningContainer h1 {
        grid-column: 1/-1;
        font-size: 9vw;
    }
}


/* Flyg drönare själv */

#flyselfContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 35vh 15vh 10vh 40vh 5vh 5vh auto 10vh 5vh 5vh 60vh 5vh 10vh 5vh auto 15vh;
}

#flyselfContainer h1 {
    grid-column: 1/-1;
    grid-row: 2/3;
}

#flyselfImageContainer {
    grid-column: 1/-1;
    grid-row: 1/5;
}

#flyselfTitle1 {
    grid-column: 1/-1;
    grid-row: 6/7;
}

#flySelfSimpleText { /* Texten om att det är lätt att lära sig */
    grid-row: 7/8;
    grid-column: 2/-2;
}

#flyselfTitle2 {
    grid-column: 1/-1;
    grid-row: 9/10;
}

#firstFlight { /* Bilderna som är bredvid varandra */
    grid-column: 1/3;
    grid-row: 11/12;
}
#oneYear { /* Bilderna som är bredvid varandra */
    grid-column: 3/5;
    grid-row: 11/12;
}
#now { /* Bilderna som är bredvid varandra */
    grid-column: 5/7;
    grid-row: 11/12;
}

#firstFlightText { /* Text till bilderna */
    grid-column: 1/3;
    grid-row: 12/13;
}
#oneYearText { /* Text till bilderna */
    grid-column: 3/5;
    grid-row: 12/13;
}
#nowText { /* Text till bilderna */
    grid-column: 5/7;
    grid-row: 12/13;
}

#flyselfTitle3 {
    grid-column: 1/-1;
    grid-row: 14/15;
}

#howToDo {
    grid-column: 2/-2;
    grid-row: 15/16;
}

@media only screen and (max-width: 600px) { /* Lägger om ganska mycket på sidan när skärmen är under 600 pixlar i bredd */
    #flyselfContainer {
        grid-template-rows: 35vh 15vh 10vh 40vh 5vh 5vh auto 10vh 5vh 5vh auto 10vh auto 10vh auto 10vh 10vh 5vh auto 15vh;
    }
    #flyselfContainer h1 {
        grid-column: 1/-1;
        font-size: 9vw;
    }
    #flyselfContainer p {
        grid-column: 1/-1;
        text-align: center;
    }
    #flyselfTitle3 {
        grid-row: 18/19;
    }

    #howToDo {
        grid-row: 19/20;
    }

    #firstFlight {
        grid-column: 1/-1;
        grid-row: 11/12;
        margin-top: 20px;
    }
    #oneYear {
        grid-column: 1/-1;
        grid-row: 13/14;
    }
    #now {
        grid-column: 1/-1;
        grid-row: 15/16;
    }

    #firstFlightText {
        grid-column: 1/-1;
        grid-row: 12/13;
        font-size: 20px;
    }
    #oneYearText {
        grid-column: 1/-1;
        grid-row: 14/15;
        font-size: 20px;
    }
    #nowText {
        grid-column: 1/-1;
        grid-row: 16/17;
        font-size: 20px;
    }
}


/* Projekt */

#projectContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40vh 15vh 10vh 35vh 5vh 10vh auto auto 10vh 10vh auto auto;
}

#firstProjectImage { /* Titel */
    grid-column: 1/-1;
    grid-row: 1/5;
}

#projectTitleMain {
    grid-column: 1/-1;
    grid-row: 2/3;
}

#firstProjectTitle {
    grid-column: 1/-1;
    grid-row: 6/7;
}

#firstProjectText {
    grid-column: 2/-2;
    grid-row: 7/8;
}

#projectImageWithCap { /* position på slideshow */
    grid-column: 1/-1;
    grid-row: 8/9;
}

#secondProjectTitle {
    grid-column: 1/-1;
    grid-row: 10/11;
}

#secondProjectText {
    padding-bottom: 8vh;
    grid-column: 2/-2;
    grid-row: 11/12;
}

#projectImageGrid { /* Image grid */
    grid-column: 1/-1;
    grid-row: 12/13;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(auto-fit, 250px); /* Alla bilder ska vara 250 px i bredd och höjd som default */
    grid-auto-rows: 250px;
    grid-auto-flow: dense; /* Försöker eliminera vita tomrum mellan bilderna */
    grid-gap: 5px;
    justify-content: center;

    padding-bottom: 10vh;
}

#projectImageGrid img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Både bredd och höjd är satt, beskär bilderna istället för att sträcka dem */
}

.s1x2 { /* Definierar klasserna för image griden */
    grid-column: auto/span 2;
}

.s2x2 {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
}

.s2x1 {
    grid-row: auto/span 2;
}

@media only screen and (max-width: 600px) {
    #projectContainer p {
        grid-column: 1/-1;
        padding: 0 10vw;
        text-align: left;
    }
    #projectImageGrid {
        margin-top: 10vh;
        grid-template-columns: repeat(auto-fit, 40vw); /* 40vw + 40vw = 80vw. Alltså kommer det vara 20vw i marginal mellan dem */
        grid-auto-rows: 40vw; /* Samma höjd som bredd */
    }
    #projectContainer h2 {
        font-size: 6vw;
    }
    #projectImageWithCap { /* Ändrar storlek på slideshow */
        margin-top: 10vh;
        height: 40vh;
    }
    .imageSegment {
        height: 40vh;
    }
    #projectContainer h1 {
        grid-column: 1/-1;
        font-size: 9vw;
    }
}