#topBar {
    background-color: #F3F3F3;
    width: 100vw;
    top: 0;
    left: 0;
    position: sticky;

    display: flex;
    align-items: center;
    flex-grow: 1;
    z-index: 10;
}

#topBar a,button {
    border: none;
    text-decoration: underline #a6acb8;
    text-underline-offset: 8px;
    background-color: #F3F3F3;
    color: #a6acb8;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    height: min-content;
    padding: 20px;

    font-family: Arial;
}

#topBar a:hover,button:hover {
    color: #4285f4;
    text-decoration: underline #4285f4;
}

.hidden {
    display: none !important;
}

#myProjectsDropdown li {
    opacity: 0;
}

@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}