#topBar {
    background-color: #F3F3F3;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;

    display: flex;
    align-items: center;
    flex-grow: 1;
    z-index: 10;

    transform: translateY(-100%);
    transition: transform 0.3s;
}

#topBar > a, #topBar button {
    border: none;
    text-decoration: underline #a6acb8;
    text-underline-offset: 8px;
    background-color: #F3F3F3;
    color: #a6acb8;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    height: min-content;
    padding: 20px;

    font-family: Arial;
}

#topBar div {
    width: 100%;
}

#topBar a:hover,#topBar button:hover, #myProjectsDropdown li:hover {
    color: #4285f4;
    text-decoration-color: #4285f4;
}

.hidden {
    display: none !important;
}

#myProjectsDropdown {
    background-color: #F3F3F3;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
}

#myProjectsDropdown li {
    padding: 15px;
    color: #a6acb8;
    width: 100%;
    font-family: Arial;
    font-size: 1.5vw;
}

#myProjectsDropdown a {
    color: #a6acb8;
    text-decoration: none;
}

@keyframes hide {
    0% {
        transform: translateY(0%);
        display: flex;
    }

    100% {
        transform: translateY(-100%);
        display: flex;
    }
}

@keyframes show {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}